<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html">
		<meta name="author" content="fracturesr">
		<title>Register</title>
		<style>body{background-color:#5c40d8;}</style>
		<link href="../public/css/Register.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div id="Layout">
			<div id="map">
				<div style="text-align:center;"><h1>Seatmap</h1></div>
			</div>
			<div id="info">
				<div style="text-align:center;">StudentInfo</div>
				<div id="text">
					<br />
					<table cellpadding="7">
						<tr>
							<th>Name:</th>
						</tr>
						<tr>
							<th>Id:</th>
						</tr>
						<tr>
							<th>College:</th>
						</tr>
						<tr>
							<th>Major:</th>
						</tr>
						<tr>
							<th>Class:</th>
						</tr>
						<tr>
							<th>Positioning:</th>
						</tr>
					</table>
				</div>
			</div>
			<div id="button" ><br /><center>CHCEK</center></div>
		</div>
	</body>
</html>